@{
    ViewData["Title"] = "About Chaotic Studios";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-6" >
    <h2> Monkey See Monkey Do Games: </h2>
    <p1>
        Our goal here as a project team has been to broaden our eyes to new experiences. 
        Our first porject as an official team is to bring our love of video games to a website
        utilizing a sweet and lovable theme for all of our users to enjoy. The team has worked tirelessly 
        for the last 5 weeks to bring this website to life with several games, an account creator, and
        a leaderboard that is connected between each account and game so users can brag about how great they
        are at our games. We hope you enjoy and make the most out of your say here!
    </p1>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center" >
        <h1>Meet our team!</h1>
        <h3>Mark Nusser</h3>
        <p1>Mark is a second year Software and Game Development student at Neumont College of Computer Science.
        Over the last few months Mark has been a striving force in the esports department by being a captain for
        the League of Legends team and casting for each match that Neumont has each week. Approaching his third
        academic year this upcoming quarter, Mark has created many projects he is proud of, one of which he has
        recently entered into project showcase 2022. Mark's dream job is to be able to work for a AAA game company
        and be able to create the colorful and amazing worlds that helped him escape the stress of the world
        when he was younger. Mark hopes you enjoy MonkeySeeMonkeyDo!</p1>
    </div>
    <div class="col-6 text-center">
        <h3>Martin Margolin</h3>
        <p1>Martin is a second year BSGD student and Neumont College of Computer Science. 
            Over the course of his time at Neumont, he has strived to show his creativity 
            and humor as a means to drive his development and creative process. He is a current player 
            for the college's League Of Legends eSports Varsity team, and wants to take that further and
            hopefully work for League's company, Riot Games when he graduates. His goal here at MonkeySeeMonkeyDo
            is to play around with his creativity and create games that inspire bored minds!</p1>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center">
        <h3>Austin McKinney</h3>
        <p1>
            Austin is a second year Software and Game Development student at Neumont College of Computer Science.
            Over the course of his time at Neumont, he has created many a game and many a failure. All have been fun
            projects that he is proud of. Austin is a happy member of the Monkey Crew who tried hard to make a game that
            satisfies the gamer that loves games. His goal is to be able to make games that the world can also enjoy.
        </p1>
    </div>
    <div class="col-6 text-center">
        <h3>Logan Bailey</h3>
        <p1>
            Logan is a second-year BSGD student at Neumont College of Computer Science. 
            Throughout his time at Neumont, he has met many people and strives to leave a good impression on everyone he meets. 
            He also is a student worker for Numont as an Activities worker and RA. He enjoys playing video games or having a good Dnd session in his free time. 
            After college, Logan hopes to join a game company to create real-time strategy games, one of his more enjoyed genres of games.

        </p1>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center">
        <h3>Nicolas Ries</h3>
        <p1>
            Nicolas is a second-year Software and Game Development student at Neumont College of Computer Science.
            He enjoys playing Dnd with a group of people he perceives as friends. He also likes to play the rule lawyer for anything Dnd.
            When he is the Duggan master, he seems to pick a person per game (mainly Liam) to troll to his heart's content.
            He also lacks the ability to do most of anything; an average human would like to eat more than 2 things.
        </p1>
    </div>
</div>


