@{ ViewData["Title"] = "Account"; }

<div class="text-center">
    <h1 class="display-4">Account Settings</h1>

    <h1>Reset Password:</h1>
    <div>
        <p> Enter New Password: </p>
        <form>

        </form>
    </div>
    
</div>
