@{
    ViewData["Title"] = "Monkey See Monkey Do ™";
}

<div class="text-center">
    <img src="~/images/Title.png" />

    <div class="row">
        <div class="col-sm-4 gameBox">MODEL GAME</div>
        <div class="col-sm-4 gameBox">MODEL GAME</div>
        <div class="col-sm-4 gameBox">MODEL GAME</div>
    </div> <br />

    
    <div class="row">
        <div class="col-sm-4 gameBox">MODEL GAME</div>
        <div class="col-sm-4 gameBox">MODEL GAME</div>
        <div class="col-sm-4 gameBox">MODEL GAME</div>
    </div> <br />

    <div class="row">
        <div class="col-sm-4 gameBox">MODEL GAME</div>
        <div class="col-sm-4 gameBox">MODEL GAME</div>
        <div class="col-sm-4 gameBox">MODEL GAME</div>
    </div> <br />
</div>