@{
    ViewData["Title"] = "Monkey See Monkey Do ™";
}

<div class="text-center">
    <img src="~/images/Chain/Chain_Logo.png" />
</div>

<div id="Game" class="text-center">
    <div class="row">
        <div class="col-sm-8">
            <canvas id="gameCanvas" width="800" height="600">
            </canvas>
        </div>
        <div class="col-sm-4">
            <h1> @ViewBag.highScoreList[0].Game.Name</h1>
            <h1> @ViewBag.highScoreList[0].Id</h1>
            <h1> @ViewBag.highScoreList[0].HighScore</h1>
        </div>
    </div>
   

    

    <script src="~/js/MonkeyChain.js"></script>
</div>