@{
    ViewData["Title"] = "Monkey See Monkey Do ™";
}

<div class="text-center">
    <img src="~/images/Chain/Chain_Logo.png" />
</div>

<div id="Game" class="text-center">
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <script src="~/js/MonkeyChain.js"></script>
    
</div>