@*

*@
@{
}

<!doctype html>
<html>
<head>
    <title>Tic-Tac-Toe</title>
    <script src="~/js/phaser.min.js"></script>
    <script src="~/js/ttt.js"></script>
</head>
<body>
    <div id='gameDiv'></div>
</body>
</html>